NAME=
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASS=
HTTP_PORT=
RABBITMQ_DEFAULT_USER=
RABBITMQ_DEFAULT_PASS=
RABBIT_MQ_USER=
RABBIT_MQ_PASS=
RABBIT_MQ_HOST=
RABBIT_MQ_PORT=
RABBIT_MQ_VHOST=
RABBIT_MQ_QUEUE=
